<!-- /Contact BOC -->
<section class="green-color-bg small-section white-color-text wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="yit-contact-box style-2 text-center">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-map etline-icon icon-medium icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">University of San Carlos - Talamban Campus</h6>
              <p class="pt-pb-zero mb-0 alt-font">Gov. M. Cuenco Ave, Cebu City, 6000 Cebu</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-envelope etline-icon icon-small icon-medium icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">Email Us</h6>
              <p class="pt-pb-zero mb-0 alt-font">information@usc.edu.ph</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-phone etline-icon icon-small icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">Phone Number</h6>
              <p class="pt-pb-zero mb-0 alt-font">+63 (32) 253 1000</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-printer etline-icon icon-small icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">Fax</h6>
              <p class="pt-pb-zero mb-0 alt-font">+63 (32) 255 4341</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact EOC -->

<!---/Location Map BOC -->
<div class="gmap-locaton section-h-space">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="headingOne">
          <a href="tags" title="Click Top Open Map" class="btn-map-marker collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-map-marker"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div id="demo-map" class="google-map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---/Location Map EOC -->

<!-- ====== /CONTENT EOC ====== -->