<!-- Placed at the end of the document so the pages load faster -->
<!-- =================== /WEB JS BOC ==================== -->

<!-- Jquery Libraries -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper.min.js"></script>
<script src="js/vendor/modernizr.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyABymk0D2BHYj9t9GYwOUQDQpqolk9Y3RM"></script>

<!-- Bootstrap JS -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Parallax Plugins JS -->
<script src="js/plugins/jquery.easing.1.3.js"></script>
<script src="js/plugins/jquery.stellar.js"></script>
<script src="js/plugins/jquery.parallax-scroll.js"></script>
<script src="js/plugins/jquery.parallaxify.js"></script>

<!-- Carousel Slider Plugins JS -->
<script src="js/plugins/flexslider.js"></script>
<script src="js/plugins/slick.js"></script>
<script src="js/plugins/owl.carousel.js"></script>
<script src="js/plugins/swiper.min.js"></script>

<!-- Images Filter Plugins JS -->
<script src="js/plugins/isotope.pkgd.min.js"></script>
<script src="js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="js/plugins/classie.js"></script>
<script src="js/plugins/jquery.justifiedGallery.js"></script>
<script src="js/plugins/retina.min.js"></script>

<!-- Other Miscellaneous Plugins JS -->
<script src="js/plugins/wow.min.js"></script>
<script src="js/plugins/countup.js"></script>
<script src="js/plugins/in-view.min.js"></script>
<script src="js/plugins/jquery.magnific-popup.js"></script>
<script src="js/plugins/easypiechart.js"></script>
<script src="js/plugins/skill.bars.jquery.js"></script>
<script src="js/plugins/countdown.js"></script>
<script src="js/plugins/instafeed.min.js"></script>
<script src="js/plugins/validate-min.js"></script>
<script src="js/plugins/jquery.nice-select.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>
<script src="js/plugins/jquery.nicescroll.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>

<!-- Custom Navigation JS (add this js when use want to used coustom navigation) -->
<script src="js/yit-custom-nav.js"></script>

<!-- Custom JS Developed By Yankee Themes -->
<script src="js/yit-custom.js"></script>

<!-- Particular Page JS (add your page js here) -->
<!-- =================== /WEB JS BOC ==================== -->
</body>
</html>