<!-- ====== /FOOTER BOC ====== -->
<footer class="footer-dark-style wow fadeIn yit-footer-default-alt" data-wow-delay="0.3s">
  <div class="yit-footer style-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 d-flex flex-column">
          <h6 class="font-xxsmall text-uppercase text-left">About Us</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <img src="images/logo/usc-logo.png" alt="WebPanda Default" data-at2x="images/logo/usc-logo.png" width="130" height="47" class="mx-auto">
          <p class="mt-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Quick Links</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="quick-links yit-listing-block nav-active font-weight-light">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="tags" title="PMESsched">PMES Schedule</a></li>
            <li><a href="news" title="Portfolio">News and Events</a></li>
            <li><a href="faq" title="FAQ">FAQs</a></li>
            <li><a href="download" title="Download">Download</a></li>
            <li><a href="contact-us" title="Download">Contact Us</a></li>


          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Useful Link</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="quick-links yit-listing-block nav-active font-weight-light">
            <li><a href="terms" title="Terms">Terms</a></li>
            <li><a href="privacy" title="Privacy">Privacy</a></li>
            <li><a href="map" title="Sitemap">Sitemap</a></li>
            <li><a href="disclaimer" title="Disclaimer">Disclaimer</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Contact Us</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="address-info yit-listing-block">
            <li>
              <i class="fa fa-map-marker icon-l"></i>
              <p>Gov. M. Cuenco Ave, Cebu City, 6000 Cebu</p>
            </li>
            <li>
              <i class="fa fa-phone icon-l"></i>
              <p><a href="tel:+63322531000" title="Call Us">+63 (32) 253 1000</a></p>
            </li>
            <li>
              <i class="fa fa-envelope-open icon-l"></i>
              <p><a href="mailto:information@usc.edu.ph" title="Email Us">information@usc.edu.ph</a></p>
            </li>
            <li>
              <i class="fa fa-clock-o icon-l"></i>
              <p>Mon-Fri : 9:30am - 6pm</p>
            </li>
          </ul>
        </div>

      </div>

      <!-- /Copyright BOC -->
      <div class="yit-foot-widget style-1">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-7">
            <p class="trade">&copy; 2018 <a class="link-green" href="Javsacript:void(0);" title="WebPanda">University of San Carlos - Cooperative</a> is Proudly Powered by
              <a class="link-green" href="https://themeforest.net/user/yankeethemes" target="_blank" title="Yankee Themes">Yankee Themes</a></p>
          </div>
          <!-- <div class="col-xl-6 col-lg-6 col-md-5">
            <div class="yit-social float-right">
              <ul>
                <li><a href="tags" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="tags" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="tags" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="tags" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <!-- /Copyright EOC -->

    </div>
  </div>
</footer>
<!-- ====== /FOOTER EOC ====== -->

<!--/Go Top BOC -->
<div class="back-top text-center"> <a Title="Go Top" class="img-circle green-color-bg" href="#" id="toTop"> <i class="fa fa-angle-double-up"></i> </a> </div>
<!--/Go Top EOC -->

<!-- Search Modal BOC -->
<div class="yit-search modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="themify-icon ti-close font-small green-color-text"></i></button>
      </div>
      <div class="modal-body">
        <div class="yit-display-centrize">
          <div class="yit-display-v-centrize">
            <form action="successfulSearch" name="yit-search" id="yit-search1" method="GET">
              <div class="common-form input-style-1">
                <div class="form-group yit-pos-relative">
                  <input type="search" name="search" id="search1" placeholder="Enter Keyword here.." class="form-control">
                  <button type="submit" class="btn-search" name="btn-search" id="btn-search1" href="successfulSearch" ><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Modal EOC -->

</div>
<!-- ====== /WRAPPER EOC ====== -->