<!-- /Contact BOC -->
<section class="pink-color-bg small-section white-color-text wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="yit-contact-box style-2 text-center">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-map etline-icon icon-medium icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">WebPanda - Highly Creative Template</h6>
              <p class="pt-pb-zero mb-0 alt-font">YI-101, Fortune Landmark - USA</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-envelope etline-icon icon-small icon-medium icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">Email Us</h6>
              <p class="pt-pb-zero mb-0 alt-font">enquiry@webpanda.com</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-contact-item yit-display-centrize">
            <div class="yit-display-v-centrize mt-15">
              <i class="icon-chat etline-icon icon-small icon-circle white-color-bg mb-15"></i>
              <h6 class="font-xxxsmall">Live Help</h6>
              <p class="pt-pb-zero mb-0 alt-font">skype.webpanda</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact EOC -->

<!---/Location Map BOC -->
<div class="gmap-locaton section-h-space">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="headingOne">
          <a href="tags.html" title="Click Top Open Map" class="btn-map-marker collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-map-marker"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div id="demo-map" class="google-map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---/Location Map EOC -->

<!-- ====== /CONTENT EOC ====== -->

<!-- ====== /FOOTER BOC ====== -->
<footer class="footer-dark-style wow fadeIn yit-footer-default-alt" data-wow-delay="0.3s">
  <div class="yit-footer style-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">About Us</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <img src="images/logo/webpanda-logo.png" alt="WebPanda Default" data-at2x="images/logo/webpanda-logo@2x.png" width="214" height="47">
          <p class="mt-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Quick Links</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="quick-links yit-listing-block nav-active font-weight-light">
            <li><a href="index.html" title="Home">Home</a></li>
            <li><a href="Javascript:void(0);" title="PMESsched">PMES Schedule</a></li>
            <li><a href="newsAndEvents.html" title="Portfolio">News and Events</a></li>
            <li><a href="faq.html" title="FAQ">FAQs</a></li>
            <li><a href="download.html" title="Download">Download</a></li>
            <li><a href="contactUs.html" title="Download">Contact Us</a></li>


          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Useful Link</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="quick-links yit-listing-block nav-active font-weight-light">
            <li><a href="tags.html" title="Terms">Terms</a></li>
            <li><a href="tags.html" title="Privacy">Privacy</a></li>
            <li><a href="tags.html" title="Sitemap">Sitemap</a></li>
            <li><a href="tags.html" title="Disclaimer">Disclaimer</a></li>
            <li><a href="tags.html" title="Blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
          <h6 class="font-xxsmall text-uppercase text-left">Contact Us</h6>
          <hr class="yit-seprator-l width-20 height-2">
          <ul class="address-info yit-listing-block">
            <li>
              <i class="fa fa-map-marker icon-l"></i>
              <p>17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p>
            </li>
            <li>
              <i class="fa fa-phone icon-l"></i>
              <p><a href="tel:123456789" title="Call Us">+1 12345 56789</a></p>
            </li>
            <li>
              <i class="fa fa-envelope-open icon-l"></i>
              <p><a href="mailto:letstalk@webpanda.com" title="Email Us">letstalk@webpanda.com</a></p>
            </li>
            <li>
              <i class="fa fa-clock-o icon-l"></i>
              <p>Mon-Fri : 9:30am - 6pm</p>
            </li>
          </ul>
        </div>

      </div>

      <!-- /Copyright BOC -->
      <div class="yit-foot-widget style-1">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-7">
            <p class="trade">&copy; 2018 <a class="link-pink" href="Javsacript:void(0);" title="WebPanda">WebPanda</a> is Proudly Powered by
              <a class="link-pink" href="https://themeforest.net/user/yankeethemes" target="_blank" title="Yankee Themes">Yankee Themes</a></p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-5">
            <div class="yit-social float-right">
              <ul>
                <li><a href="tags.html" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="tags.html" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="tags.html" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="tags.html" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright EOC -->

    </div>
  </div>
</footer>
<!-- ====== /FOOTER EOC ====== -->

<!--/Go Top BOC -->
<div class="back-top text-center"> <a Title="Go Top" class="img-circle pink-color-bg" href="#" id="toTop"> <i class="fa fa-angle-double-up"></i> </a> </div>
<!--/Go Top EOC -->

<!-- Search Modal BOC -->
<div class="yit-search modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="themify-icon ti-close font-small pink-color-text"></i></button>
      </div>
      <div class="modal-body">
        <div class="yit-display-centrize">
          <div class="yit-display-v-centrize">
            <form name="yit-search" id="yit-search1">
              <div class="common-form input-style-1">
                <div class="form-group yit-pos-relative">
                  <input type="search" name="search" id="search1" placeholder="Enter Keyword here.." class="form-control">
                  <a class="btn-search" name="btn-search" id="btn-search1" href="successfulSearch.html" ><i class="fa fa-search"></i></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Modal EOC -->

</div>
<!-- ====== /WRAPPER EOC ====== -->

<!-- Placed at the end of the document so the pages load faster -->
<!-- =================== /WEB JS BOC ==================== -->

<!-- Jquery Libraries -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper.min.js"></script>
<script src="js/vendor/modernizr.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyABymk0D2BHYj9t9GYwOUQDQpqolk9Y3RM"></script>

<!-- Bootstrap JS -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Parallax Plugins JS -->
<script src="js/plugins/jquery.easing.1.3.js"></script>
<script src="js/plugins/jquery.stellar.js"></script>
<script src="js/plugins/jquery.parallax-scroll.js"></script>
<script src="js/plugins/jquery.parallaxify.js"></script>

<!-- Carousel Slider Plugins JS -->
<script src="js/plugins/flexslider.js"></script>
<script src="js/plugins/slick.js"></script>
<script src="js/plugins/owl.carousel.js"></script>
<script src="js/plugins/swiper.min.js"></script>

<!-- Images Filter Plugins JS -->
<script src="js/plugins/isotope.pkgd.min.js"></script>
<script src="js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="js/plugins/classie.js"></script>
<script src="js/plugins/jquery.justifiedGallery.js"></script>
<script src="js/plugins/retina.min.js"></script>

<!-- Other Miscellaneous Plugins JS -->
<script src="js/plugins/wow.min.js"></script>
<script src="js/plugins/countup.js"></script>
<script src="js/plugins/in-view.min.js"></script>
<script src="js/plugins/jquery.magnific-popup.js"></script>
<script src="js/plugins/easypiechart.js"></script>
<script src="js/plugins/skill.bars.jquery.js"></script>
<script src="js/plugins/countdown.js"></script>
<script src="js/plugins/instafeed.min.js"></script>
<script src="js/plugins/validate-min.js"></script>
<script src="js/plugins/jquery.nice-select.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>
<script src="js/plugins/jquery.nicescroll.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>

<!-- Custom Navigation JS (add this js when use want to used coustom navigation) -->
<script src="js/yit-custom-nav.js"></script>

<!-- Custom JS Developed By Yankee Themes -->
<script src="js/yit-custom.js"></script>

<!-- Particular Page JS (add your page js here) -->
<!-- =================== /WEB JS BOC ==================== -->
</body>
</html>