<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- =================== /META BOC ==================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WebPanda is a Multi-purpose Responsive HTML5 Template created by yankeethems, powered by yankeeinfoweb and published
  on Themeforest.">
<meta name="author" content="yankeethemes">
<meta name="keywords" content="yankeethemes, yankeeinfoweb, webdesign, boostrap, wordpress, support, html, html5, css3, javascript, wordpress agency, support,
wordpress expert">
<meta name="contact" content="enquiry@yankeeinfoweb.com" />
<meta name="copyright" content="yankeethemes">
<!-- =================== /META EOC ==================== -->

<!-- =================== /TITLE EOC ==================== -->
<title>:: WebPanda - Multi-purpose Responsive HTML5 Template ::</title>
<!-- =================== /TITLE EOC ==================== -->

<!-- =================== /FAVICON BOC ==================== -->
<link rel="shortcut icon" href="images/logo/usc-logo.png" type="image/x-icon">
<link rel="icon" href="images/logo/usc-logo.png" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/logo/usc-logo.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/logo/usc-logo.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/logo/usc-logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/logo/usc-logo.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/logo/usc-logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/logo/usc-logo.png">
<link rel="manifest" href="images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- =================== /FAVICON EOC ==================== -->

<!-- =================== /WEB CSS BOC ==================== -->

<!-- /Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

<!-- /Plugins CSS (include all plugins) -->
<link href="css/yit-plugins.css" rel="stylesheet" type="text/css">

<!-- /Style CSS (scafolding, strucrure & commonpages) -->
<link href="css/yit-style.css" rel="stylesheet" type="text/css">

<!-- /Boostrap Nav CSS (all navigation) -->
<link href="css/yit-bootstrap-nav.css" rel="stylesheet" type="text/css">

<!-- /Custom Nav CSS (all custom navigation) -->
<link href="css/yit-custom-nav.css" rel="stylesheet" type="text/css">

<!-- /Theme CSS (common theme element) -->
<link href="css/yit-theme.css" rel="stylesheet" type="text/css">

<!-- /Elements CSS (all general elements) -->
<link href="css/yit-elements.css" rel="stylesheet" type="text/css">

<!-- /Shortcode CSS (all shortcodes) -->
<link href="css/yit-shortcodes.css" rel="stylesheet" type="text/css">

<!-- /Blogs CSS (all blogs) -->
<link href="css/yit-blog.css" rel="stylesheet" type="text/css">

<!-- /Responsive CSS (media device css) -->
<link href="css/yit-responsive.css" rel="stylesheet" type="text/css">

<!-- =================== /WEB CSS EOC ==================== -->

<!-- ================ /GOOGLE FONT BOC =================== -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- ================ /GOOGLE FONT EOC =================== -->
</head>