<body class="webp-blog-standard">

  <!-- ====== /WRAPPER BOC ====== -->
  
  <div class="page-wrapper">
  
    <!-- ====== /HEADER BOC ====== -->
    <header class="webp-header">
    
    <!-- /Navigation BOC -->
    <div class="yit-nav">
      <nav class="navbar navbar-expand-md navbar-dark yit-nav-dark-style yit-bsnav-short-menu yit-custom-slide-right-nav fixed-top img-shadow">
        <div class="container">
        <a class="navbar-brand" href="/"><img src="images/logo/usc.png" width="400" height="47" alt="USC - COOP Logo" data-at2x="images/logo/usc.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <!-- /Mega Menu BOC -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto font-weight-medium yit-upcase-nav yit-mega-menu js-nav-active">

                <!-- /About us BOC -->
                <li class="nav-item">
                  <a title="Home" class="nav-link" href="/" role="button" >Home</a>
        
                <!-- /About Us EOC -->

                <!-- /PMES Schedule BOC -->
                <li class="nav-item">
                  <a title="Pages" class="nav-link " href="tags">PMES Schedule</a>
                </li>
            

                <!-- /PMES SCHEDULE EOC -->

                <!-- /News and Events  BOC -->
                <li class="nav-item">
                  <a title="News and Events" class="nav-link" href="news">News and Events</a>

             </li> 
                <!-- /News and Events EOC -->

                <!-- /FAQs BOC -->
                <li class="nav-item">
                  <a title="FAQs" class="nav-link " href="faq"  >FAQs</a>
                </li>
        
                <!-- /FAQs  EOC -->

                <!-- /Download BOC -->
                <li class="nav-item dropdown">
                  <a title="download" class="nav-link" href="#" id="downloads" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
                  <div class="dropdown-menu dropdown-menu-right w-auto" aria-labelledby="downloads">
                    <a href="#" class="dropdown-item">Download 1</a>
                    <a href="#" class="dropdown-item">Download 2</a>
                  </div>
                </li>
                <!-- /Downloads EOC -->

                <!-- /Contact BOC -->
                <li class="nav-item">
                  <a title="Contact Us" class="nav-link " href="contact-us" >Contact Us</a>
                </li> 
        
                <!-- /Features Dropdown EOC -->

                <!-- /Support BOC -->
 <!--               <li class="nav-item"><a title="support" class="nav-link" href="mailto:enquiry@yankeeinfoweb.com">Support</a></li> -->
                <!-- /Support EOC -->

              </ul>

              <!-- /Search BOC -->
              <a data-toggle="modal" data-target="#exampleModalCenter" title="Search..." class="search-link" href="tags"><i class="fa fa-search"></i></a>
              <!-- /Search EOC -->

              <div class="dropdown">
                <a href="#" class="text-light ml-3 dropdown-toggle yit-no-arrow" id="login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user-circle"></span></a>
                <div class="dropdown-menu dropdown-menu-right w-auto" aria-labelledby="login">
                  <a href="login" class="dropdown-item">Login</a>
                  <a href="register" class="dropdown-item">Register</a>
                </div>
              </div>
              <!-- <div data-toggle="modal" data-target="#accountDrop" title="Account" href="login" class="text-light ml-3 dropdown"><i class="fa fa-user-circle dropdown-toggle" role=></i></a> -->
            </div>
            <!-- /Mega Menu EOC -->
        </div>
      </nav>
    </div>
    <!-- /Navigation EOC -->