<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- =================== /META BOC ==================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WebPanda is a Multi-purpose Responsive HTML5 Template created by yankeethems, powered by yankeeinfoweb and published
  on Themeforest.">
<meta name="author" content="yankeethemes">
<meta name="keywords" content="yankeethemes, yankeeinfoweb, webdesign, boostrap, wordpress, support, html, html5, css3, javascript, wordpress agency, support,
wordpress expert">
<meta name="contact" content="enquiry@yankeeinfoweb.com" />
<meta name="copyright" content="yankeethemes">
<!-- =================== /META EOC ==================== -->

<!-- =================== /TITLE EOC ==================== -->
<title>:: WebPanda - Multi-purpose Responsive HTML5 Template ::</title>
<!-- =================== /TITLE EOC ==================== -->

<!-- =================== /FAVICON BOC ==================== -->
<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- =================== /FAVICON EOC ==================== -->

<!-- =================== /WEB CSS BOC ==================== -->

<!-- /Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

<!-- /Plugins CSS (include all plugins) -->
<link href="css/yit-plugins.css" rel="stylesheet" type="text/css">

<!-- /Style CSS (scafolding, strucrure & commonpages) -->
<link href="css/yit-style.css" rel="stylesheet" type="text/css">

<!-- /Boostrap Nav CSS (all navigation) -->
<link href="css/yit-bootstrap-nav.css" rel="stylesheet" type="text/css">

<!-- /Custom Nav CSS (all custom navigation) -->
<link href="css/yit-custom-nav.css" rel="stylesheet" type="text/css">

<!-- /Theme CSS (common theme element) -->
<link href="css/yit-theme.css" rel="stylesheet" type="text/css">

<!-- /Elements CSS (all general elements) -->
<link href="css/yit-elements.css" rel="stylesheet" type="text/css">

<!-- /Shortcode CSS (all shortcodes) -->
<link href="css/yit-shortcodes.css" rel="stylesheet" type="text/css">

<!-- /Blogs CSS (all blogs) -->
<link href="css/yit-blog.css" rel="stylesheet" type="text/css">

<!-- /Responsive CSS (media device css) -->
<link href="css/yit-responsive.css" rel="stylesheet" type="text/css">

<!-- =================== /WEB CSS EOC ==================== -->

<!-- ================ /GOOGLE FONT BOC =================== -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- ================ /GOOGLE FONT EOC =================== -->
</head>

<body class="webp-error-page">

<!-- ====== /WRAPPER BOC ====== -->

<div class="page-wrapper">

  <!-- ====== /HEADER BOC ====== -->
  <header class="webp-header">

    <!-- /Navigation BOC -->
    <div class="yit-custom-nav-1 pt-30 pb-30 fixed-top yit-custom-fade-nav mb-30">
      <div class="container">
        <div class="row">
          <div class="col">

            <!-- /Logo BOC -->
            <div class="logo text-center">
              <a href="index.html" title="Logo"><img src="images/logo/webpanda-logo.png" alt="WebPanda Logo" data-at2x="images/logo/webpanda-logo@2x.png" width="214" height="47"></a>
            </div>
            <!-- /Logo BOC -->

          </div>
        </div>
      </div>
    </div>
    <!-- /Navigation EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Content Section CSS BOC -->
  <section class="section-v-space yit-cover-bg" style="background-image:url(images/webpanda-bg-135.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-xl-8 mx-auto">
          <div class="error-page yit-flex-v-center d-flex align-items-center height-cover xs-height-auto xs-banner-medium-space">

            <!-- /Banner Content BOC -->
            <div class="error-banner-content text-center">
              <img src="images/icon-404-error.png" alt="404 Error WebPanda" width="519" height="163" class="yit-img-center mb-40">
              <h6>Page not found! Don't worry, it's on us <br> come back when we're alive </h6>

              <!-- /Search BOC -->
              <div class="yit-search common-form mt-20 input-dark input-style-1">
                <form name="yit-search" id="yit-search">
                  <div class="form-group yit-pos-relative">
                    <input name="search" id="search" placeholder="Enter Keyword here.." class="form-control" type="search">
                    <button class="btn-search" name="btn-search" id="btn-search"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
              <!-- /Search EOC -->

              <!-- /Back Button BOC -->
              <a href="index.html" title="Back To Homepage" class="btn style-5 btn-rounded mt-40">Back To Homepage</a>
              <!-- /Back Button EOC -->

            </div>
            <!-- /Banner Content EOC -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Content Section CSS EOC -->

  <!-- ====== /CONTENT EOC ====== -->

  <!--/Go Top BOC -->
  <div class="back-top text-center hidden"> <a Title="Go Top" class="img-circle pink-color-bg" href="Javascript:void(0);" id="toTop"> <i class="fa fa-angle-double-up"></i> </a> </div>
  <!--/Go Top EOC -->

</div>
<!-- ====== /WRAPPER EOC ====== -->

<!-- Placed at the end of the document so the pages load faster -->
<!-- =================== /WEB JS BOC ==================== -->

<!-- Jquery Libraries -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper.min.js"></script>
<script src="js/vendor/modernizr.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyABymk0D2BHYj9t9GYwOUQDQpqolk9Y3RM"></script>

<!-- Bootstrap JS -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Parallax Plugins JS -->
<script src="js/plugins/jquery.easing.1.3.js"></script>
<script src="js/plugins/jquery.stellar.js"></script>
<script src="js/plugins/jquery.parallax-scroll.js"></script>
<script src="js/plugins/jquery.parallaxify.js"></script>

<!-- Carousel Slider Plugins JS -->
<script src="js/plugins/flexslider.js"></script>
<script src="js/plugins/slick.js"></script>
<script src="js/plugins/owl.carousel.js"></script>
<script src="js/plugins/swiper.min.js"></script>

<!-- Images Filter Plugins JS -->
<script src="js/plugins/isotope.pkgd.min.js"></script>
<script src="js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="js/plugins/classie.js"></script>
<script src="js/plugins/jquery.justifiedGallery.js"></script>
<script src="js/plugins/retina.min.js"></script>

<!-- Other Miscellaneous Plugins JS -->
<script src="js/plugins/wow.min.js"></script>
<script src="js/plugins/countup.js"></script>
<script src="js/plugins/in-view.min.js"></script>
<script src="js/plugins/jquery.magnific-popup.js"></script>
<script src="js/plugins/easypiechart.js"></script>
<script src="js/plugins/skill.bars.jquery.js"></script>
<script src="js/plugins/countdown.js"></script>
<script src="js/plugins/instafeed.min.js"></script>
<script src="js/plugins/validate-min.js"></script>
<script src="js/plugins/jquery.nice-select.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>
<script src="js/plugins/jquery.nicescroll.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/bootstrap-datetimepicker.min.js"></script>

<!-- Custom Navigation JS (add this js when use want to used coustom navigation) -->
<script src="js/yit-custom-nav.js"></script>

<!-- Custom JS Developed By Yankee Themes -->
<script src="js/yit-custom.js"></script>

<!-- Particular Page JS (add your page js here) -->

<!-- =================== /WEB JS BOC ==================== -->
</body>
</html>