<%- include("includes/header") %>
<body class="webp-error-page">

  <!-- ====== /WRAPPER BOC ====== -->
  
  <div class="page-wrapper">
  
    <!-- ====== /HEADER BOC ====== -->
    <header class="webp-header">
  
      <!-- /Navigation BOC -->
      <div class="yit-custom-nav-1 pt-30 pb-30 fixed-top yit-custom-fade-nav mb-30">
        <div class="container">
          <div class="row">
            <div class="col">
  
              <!-- /Logo BOC -->
              <div class="logo text-center mt-5 pt-5">
                <a href="/" title="Logo"><img src="images/logo/usc.png" alt="WebPanda Logo" data-at2x="images/logo/usc.png" width="514" height="47"></a>
              </div>
              <!-- /Logo BOC -->
  
            </div>
          </div>
        </div>
      </div>
      <!-- /Navigation EOC -->
  
    </header>
    <!-- ====== /HEADER EOC ====== -->
  
    <!-- ====== /CONTENT BOC ====== -->
  
    <!-- /Content Section CSS BOC -->
    <section class="section-v-space bg-fade-overlay yit-cover-bg" style="background-image:url(images/bg-items/default.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xl-8 mx-auto">
            <div class="error-page yit-flex-v-center d-flex align-items-center height-cover xs-height-auto xs-banner-medium-space">
  
              <!-- /Banner Content BOC -->
              <div class="error-banner-content text-center mb-40 white-color-text">
                <h1 class="error-text-heading text-shadow-light green-color-text">404!</h1>
                <h4>Page Not Found</h4>
                <p>The page you were looking for could not be found.</p>
  
                <!-- /Search BOC -->
                <div class="yit-search common-form mt-20 input-light">
                  <form name="yit-search" id="yit-search">
                    <div class="form-group yit-pos-relative">
                      <input name="search" id="search" placeholder="Enter Keyword here.." class="form-control" type="search">
                      <button class="btn-search" name="btn-search" id="btn-search"><i class="fa fa-search"></i></button>
                    </div>
                  </form>
                </div>
                <!-- /Search EOC -->
  
                <!-- /Back Button BOC -->
                <a href="/" title="Back To Homepage" class="btn style-5 btn-rounded mt-40">Back To Homepage</a>
                <!-- /Back Button EOC -->
  
              </div>
              <!-- /Banner Content EOC -->
  
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Content Section CSS EOC -->
  
    <!-- ====== /CONTENT EOC ====== -->
  
    <!--/Go Top BOC -->
    <div class="back-top text-center hidden"> <a Title="Go Top" class="img-circle pink-color-bg" href="Javascript:void(0);" id="toTop"> <i class="fa fa-angle-double-up"></i> </a> </div>
    <!--/Go Top EOC -->
  
  </div>
  <!-- ====== /WRAPPER EOC ====== -->
<%- include("includes/end") %>