<%- include("includes/header"); %>
<%- include("includes/navbar"); %>
<!-- /Banner BOC -->
<div class="inner-banner-large bg-overlay yit-cover-bg" style="background-image:url(images/webpanda-bg-45.jpg);">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center white-color-text">
          <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
            <div class="inner-banner-content">
              <h3>Contact Simple</h3>
              <p class="yit-lead"> Choose from our wide range of contact layouts </p>

                <!-- /Breadcumbs BOC -->
                <nav class="yit-breadcrumb style-1 light font-weight-light">
                  <ul>
                    <li><a href="Javascript:void(0);" title="Home">Home</a></li>
                    <li><a href="Javascript:void(0);" title="Contact">Contact </a></li>
                    <li class="active">Contact Simple</li>
                  </ul>
                </nav>
                <!-- /Breadcumbs EOC -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner EOC -->

</header>
<!-- ====== /HEADER EOC ====== -->

<!-- ====== /CONTENT BOC ====== -->

<!-- /Contact Section BOC -->
<section>
<div class="container">
  <div class="yit-feature style-1 text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-feature-item mt-0">
            <i class="icon-map-pin etline-icon green-color-bg icon-circle icon-medium mb-20"></i>
            <h6 class="mb-10">Address</h6>
            <p>Gov. M. Cuenco Ave, Cebu City, 6000 Cebu</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-feature-item mt-0">
            <i class="icon-phone etline-icon green-color-bg icon-circle icon-medium mb-20"></i>
            <h6 class="mb-10">Phone</h6>
            <p><a href="tel:+63 (32) 253 1000" title="+63 (32) 253 1000">+63 (32) 253 1000</a></p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="yit-feature-item mt-0">
            <i class="ti-email etline-icon green-color-bg icon-circle icon-medium mb-20"></i>
            <h6 class="mb-10">Email</h6>
            <p><a href="mailto:information@usc.edu.ph" title="information@usc.edu.ph">information@usc.edu.ph</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /Contact Section EOC -->

<!-- /Contact Form Section BOC -->
<section class="light-grey-color-bg">
<div class="container">
  <div class="row">
    <div class="col-xl-8 col-md-12 col-lg-8 mx-auto">
      <div class="text-center">
        <h6 class="caption-title font-xxxsmall text-uppercase mb-15">Start Your New Project</h6>
        <h5>Fill out the form &amp; we'll be in touch soon!</h5>
      </div>
    </div>
  </div>

  <!-- /Form BOC -->
  <div class="yit-cotact-form common-form mt-40">
    <form id="contact-form" name="contact-form" action="yit-contact-form.php" method="post">
      <div class="row justify-content-end">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="form-group control-group">
            <input name="firstname" id="firstname" placeholder="Enter Name" class="form-control" type="text">
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="form-group control-group">
            <input name="email" id="email" placeholder="Enter Email" class="form-control" type="email">
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="form-group control-group">
            <input name="phoneno" id="phoneno" placeholder="Enter Phone" class="form-control" type="text">
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="form-group">
            <select class="yit-nice-select width-full form-control">
              <option data-display="Select Services">Select Services</option>
              <option value="1">General Enquiry</option>
              <option value="2">Support</option>
              <option value="3">Latest Updates</option>
              <option value="4">Subscribe</option>
              <option value="5">Channel Partner</option>
            </select>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <textarea name="message" id="message" placeholder="Enter Message" cols="30" rows="10" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-lg-3 col-12">
          <div class="form-group">
            <input name="btn-submit" id="btn-submit" class="btn btn-rounded btn-block control-group" value="Submit" type="submit">
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /Form EOC -->

</div>
</section>
<!-- /Contact Form Section EOC -->

<!-- /CMS Section BOC -->
<section class="pb-0">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h6 class="caption-title font-xxxsmall text-uppercase mb-15">Expert Team &amp; Experience</h6>
        <h4 class="mb-10">We have 10 years experience to build brands in the world</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="images/other/16.jpg" alt="Team Thumbnail" width="1623" height="371" class="yit-img-center mt-50">
    </div>
  </div>
</div>
</section>
<!-- /CMS Section EOC -->

<!-- /Map Section EOC -->
<section class="none-row-space section-h-space p-0">
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.843769152569!2d123.90888391529184!3d10.354374269671938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99894d1b6ae25%3A0xc2d9b9e99316c59d!2sUniversity%20of%20San%20Carlos!5e0!3m2!1sen!2sph!4v1581576930424!5m2!1sen!2sph" class="width-full height-small-screen"></iframe>
    </div>
  </div>
</div>
</section>
<!-- /Map Section EOC -->

<!-- ====== /CONTENT EOC ====== -->
<%- include("includes/footer") %>
<%- include("includes/end") %>