    <%- include("./includes/header"); %>
    <!-- /Banner BOC -->
    <div class="inner-banner-large yit-cover-bg bg-overlay" style="background-image:url(images/bg-items/default.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center white-color-text">
              <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
                <div class="inner-banner-content">
                  <h3>Blog Clen Left Sidebar</h3>
                  <p class="yit-lead"> Choose from our wide range of blogs layouts </p>

                    <!-- /Breadcumbs BOC -->
                    <nav class="yit-breadcrumb style-1 light font-weight-light">
                      <ul>
                        <li><a href="tags" title="Home">Home</a></li>
                        <li><a href="tags" title="Blogs">Blogs </a></li>
                        <li class="active">Blog Clean</li>
                      </ul>
                    </nav>
                    <!-- /Breadcumbs EOC -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Blog Section BOC -->
  <section>
    <div class="container-fluid mx-5 pr-5">
      <div class="row">

        <!-- /Blog Sidebar BOC -->
        <div class="col-lg-4 col-md-12 col-xl-3">
          <aside class="blog-sidebar l-side xs-text-left">

              <!-- /Search BOC -->
              <div class="sidebar-box yit-search mb-30">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Search</h6>
                <form name="yit-search" id="blog-search">
                  <div class="common-form">
                    <div class="form-group yit-pos-relative">
                      <input name="blog-search-input" id="blog-search-input" placeholder="Enter Keyword here.." class="form-control" type="search">
                      <a class="btn-search" name="btn-search-btn" id="btn-search-btn" href="successfulSearch"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /Search EOC -->

              <!-- /Tags BOC -->
              <div class="sidebar-box meta-tag mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Tags</h6>
                <ul class="yit-tags">
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="webdesign">webdesign</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="webdevelopment">webdevelopment</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="app">app</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="branding">branding</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="logo">logo</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="yankeethemes">yankeethemes</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="wp-develop">wp-develop</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="wp-plugin">wp-plugin</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="wp-code">wp-code</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="yanke">yanke</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags" title="yankeinfoweb">yankeinfoweb</a></li>
                </ul>
              </div>
              <!-- /Tags EOC -->

              <!-- /Archive BOC -->
              <div class="sidebar-box blog-meta archive mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Archive</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="January 2017">January 2017</a>
                    <span class="badge light-grey-color-bg">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="February 2017">February 2017</a>
                    <span class="badge light-grey-color-bg">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="March 2017">March 2017</a>
                    <span class="badge light-grey-color-bg">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="April 2017">April 2017</a>
                    <span class="badge light-grey-color-bg">20</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="May 2017">May 2017</a>
                    <span class="badge light-grey-color-bg">22</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="June 2017">June 2017</a>
                    <span class="badge light-grey-color-bg">30</span>
                  </li>
                </ul>
              </div>
              <!-- /Archive EOC -->

          </aside>
        </div>
        <!-- /Blog Sidebar EOC -->

        <!-- /Blog Post Section BOC -->
        <div class="col-lg-8 col-md-12 col-xl-9">

          <!-- /Blog Listing BOC -->
          <div class="yit-blog style-2">
            <div class="row">
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-1.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-2.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-3.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-4.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-5.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-1.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-1.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-2.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="images/blogs/yit-blog-3.jpg" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    <a href="readMore" title="Read More" class="btn btn-pink btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Blog Listing EOC -->

          <!-- /Pagination BOC -->
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="yit-pagination pagination-radius mt-30">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="ti-arrow-left"></i> <span class="hidden-xs">Previous</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"> <i class="ti-arrow-right"></i> <span class="hidden-xs">Next</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /Pagination EOC -->

        </div>
        <!-- /Blog Post Section EOC -->

      </div>
    </div>
  </section>
  <!-- /Blog Section EOC -->
  <%- include("./includes/footer"); %>