// Body Declaration
$body-fontfamily:'Roboto', sans-serif;
// $body-alt-font:'Montserrat', sans-serif;

// Other Fonts
$font-dosis:'Dosis', sans-serif;
$font-poppins:'Poppins', sans-serif;
$font-oswald:'Oswald', sans-serif;
$font-source-sans:'Source Sans Pro', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-rubik: 'Rubik', sans-serif;
$font-dancing-script:'Dancing Script', cursive;
$font-muli:'Muli',sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-josefin-sans:'Josefin Sans', sans-serif;

//  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
$body-fontsize:calc(14px + (15 - 14) * ((100vw - 320px) / (1600 - 320))); // change 15 value
$body-lineheight:1.7;
$body-bgcolor:#ffffff;
$body-fontcolor:#333333;
$body-fontweight:400;

// Link Color
$link-color:#6f6f6f;
$link-color-hover:#000;

// Bg Color & Color
$primary-color:#333333;
$white-color:#ffffff;
$black-color:#000;
$blue-color:#2cc6ff;
$pink-color:#e91e63;
$red-color:#ec161e;
$purple-color:#9C27B0;
$indigo-color:#3F51B5;
$cyan-color:#00BCD4;
$teal-color:#009688;
$green-color:#4CAF50;
$yellow-color:#FFEB3B;
$orange-color:#FF5722;
$brown-color:#795548;
$grey-color:#9E9E9E;
$light-grey-color:#f8f8f8;
$light-medium-grey-color:#ededed;
$light-extra-grey-color:#e0e0e0;
$space-grey-light-color:#f3f7f9;

// Dark Bg Color
$dark-blue-color:#009cd6;
$dark-pink-color:#C2185B;
$dark-red-color:#cd0007;
$dark-purple-color:#7B1FA2;
$dark-indigo-color:#303F9F;
$dark-cyan-color:#0097A7;
$dark-teal-color:#00796B;
$dark-green-color:#388E3C;
$dark-yellow-color:#FBC02D;
$dark-orange-color:#E64A19;
$dark-brown-color:#5D4037;
$dark-grey-color:#616161;
$dark-grey-black-color:#161616;
$light-grey-black-color:#252525;
$black-extra-grey-color:#2d3135;
$space-grey-color:#222328;

// Transparent Bg Color
$bg-transparent:#e8e8e8;
$bg-semi-transparent:#cecece;
