// Heading Declaration
$primary-heading:'Montserrat', sans-serif;

// Heading Size
$heading-h1:2.5rem;
$heading-h2:2.25rem;
$heading-h3:2rem;
$heading-h4:1.875rem;
$heading-h5:1.625rem;
$heading-h6:1.18rem;

// Font Variation
$font-weight-tn:100;
$font-weight-exlt:200;
$font-weight-lt:300;
$font-weight-rg:400;
$font-weight-md:500;
$font-weight-sb:600;
$font-weight-bl:700;
$font-weight-xbl:800;
$font-weight-xxbl:900;
$font-lineheight:normal;

// Font Size Variation
$heading-xxlarge:6.125rem;
$heading-xlarge:5.125rem;
$heading-large:3.125rem;
$heading-medium:2.813rem;
$heading-small:2.125rem;
$heading-xsmall:1.75rem;
$heading-xxsmall:1.2rem;
$heading-xxxsmall:.9rem;
$heading-exsmall:.83rem;

// Heading Mixin
@mixin heading { margin-top:0; margin-bottom:0; line-height:1.5; }