@font-face {
  font-family: 'justice-icons';
  src:  url('../fonts/justice.eot?pzpgr3');
  src:  url('../fonts/justice.eot?pzpgr3#iefix') format('embedded-opentype'),
    url('../fonts/justice.ttf?pzpgr3') format('truetype'),
    url('../fonts/justice.woff?pzpgr3') format('woff'),
    url('../fonts/justice.svg?pzpgr3#justice') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="justice-"], [class*=" justice-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'justice-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.justice-books:before { content: "\e900"; }
.justice-bracelets:before { content: "\e901"; }
.justice-building:before { content: "\e902"; }
.justice-contract:before { content: "\e903"; }
.justice-law:before { content: "\e904"; }
.justice-lawyer:before { content: "\e905"; }
.justice-person:before { content: "\e906"; }
.justice-police:before { content: "\e907"; }
.justice-policeman:before { content: "\e908"; }
.justice-themis:before { content: "\e909"; }